.banner{
	height: 80vh;
	background-size: cover;
	background: #0BB5FF;
	border-radius: 180px;
	/*background: linear-gradient(rgba(20, 100, 10, 0.3));*/
}
.banner-flex{
	height: 100%;
	display: flex;
	align-items: center;
	padding: 100 180px;
	border-radius: 180px
	background: #0BB5FF;
}