.banner{
	height: 90vh;
	display: flex;
	align-items: center;
	background-size: cover;
	border-radius: 180px;
	/*background: linear-gradient(rgba(20, 100, 10, 0.3));*/
}
.banner-large{
	height: 90vh;
	display: flex;
	align-items: center;
	padding: 30px;
	border-radius: 90px;
	background-color:#4AC948;
	/*background: #0BB5FF;*/
}
.banner-box{
	height: 30vh;
	width: 50vh;
	/*align-items: center;*/
	background-size: cover;
}