.btn-red{
	background: #E93F33;
	color: white;
	padding:10 25px;
	border-radius: 30px;
	transition: ease 0.8s;

}
.btn-red:hover {
	opactiy: 1;
	box-shadow: 1px 3px rgba(30, 30, 30, 0.9)

}
.btn-blue{
	background: #E93F33;
	color: white;
	padding:10 25px;
	border-radius: 30px;
	transition: ease 0.8s;
}
.btn-blue{
	background: #E93F33;
	color: white;
	padding:10 25px;
	border-radius: 30px;
	transition: ease 0.8s;
}
